/*
body{
	background-image: url("../images/bi.png");
	background-attachment: fixed;
	background-position: center;
	
	text-align: center;
}

form{
	background-color: white;
	width: 50%;
	margin: 0 auto;
	padding:20px 20px 40px 20px;
	border-radius:5px;
	border:4px solid #0099cc;
}

input[type=text]{
	margin: 4px 0 2px 0;
	border: none;
	border-bottom:2px solid teal;
}
.b{
	background-color: #98D8FE;
}
.g{
	background-color: #98FECE;
}
.y{
	background-color: #FCF06F;
}
.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.playfair-display-<uniquifier> {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.st1{
	font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;;
	background-color: #98D8FE;
}
.st2{
	font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
	background-color: 98FECE;
}
.st3{
	font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;;
	background-color: #FCF06F;
}
.st4{
	font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
	background-color: #98D8FE;
}
.st5{
	font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
	background-color: #98FECE;
}
.st6{
	font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
	background-color: #FCF06F;
}

.hidden{
	color:white;
}
.bc_w{
	background-color:white;
	margin-right: 300px;
	margin-left: 300px;
}
*/